APP_ENV=prod
APP_DEBUG=0
APP_SECRET=change_me
DATABASE_URL=mysql://user:password@127.0.0.1:3306/symfoconnect_db?serverVersion=8.0&charset=utf8mb4
MAILER_DSN=smtp://user:password@127.0.0.1:1025
MESSENGER_TRANSPORT_DSN=doctrine://default
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=change_me

